.DS_Store
.env
.env.*
!.env.example
!**/.env.example
*.pyc
__pycache__/
.pytest_cache/

node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

venv/
backend/venv/
backend/__pycache__/
backend/images/
